@import '../../mixins/mixin.scss';
@import '../../variables/variable.scss';

.ScrollTop {
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    z-index: 1000;
    font-size: 1.6rem;
    border: 2px solid;
    border-radius: 50%;
    padding: .5rem .7rem;
    color: $sage; 
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      border: 4px dotted $hoverColor;
     
    }
}